.main-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  border-radius: 16px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #35c59c;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(143, 243, 233, 0.4);
}

.btn:hover {
  background-color: #28e4b8;
  transform: translateY(-3px);
  box-shadow: 0px 6px 20px rgba(27, 121, 79, 0.4);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0px 4px 15px rgba(106, 90, 205, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
